@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-10-03 22:53:42
 * @version $Id$
 */
/* 去除浏览器默认样式 */
* {
	margin: 0;
	padding: 0;
}
body {
    overflow-x: hidden;
}
/* 设置一些公共样式 */

img {
	border: none;
}
a {
	color: #fff;
	text-decoration: none;
    cursor: pointer;
}
a:focus, a:hover {
    color: #095f8a;
}
ul li {
	list-style-type: none;
}
/* 头部 */
.header {
	width: 100%;
	height: 167px;
	background: #0096ff;
}
/* 头部logo部分 */
.header-logo {
	width: 400px;
	height: 95px;
	padding-top: 20px;
	margin-left: 164px;
}
/* 头部检索部分 */
.both {
	width: 200px;
	height: 25px;
	float: right;
	position: absolute;
}
/*  */
.search_up {
	top: 30px;
	right: 160px;
}
.search_up  a {
    font-size: 14px;
    font-family: 微软雅黑;
}
.search_down {
	clear: both;
    padding: 2px;
	top: 55px;
	right: 160px;
}
.search #find {
    padding: 2px
    width: 120px;
    height: 26px;
    border-radius: 4px;
}
#searchsubmit {
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 0;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
}
/* 头部导航部分 */
.nav {
	clear: both;
	width: 100%;
	height: 50px;
}
.nav ul {
	margin: 0 auto;
	width: 1020px;
}
.nav ul li {
    float: left;
    padding: 10px 0;
    width: 12.45%;
    height: 30px;
    text-align: center;
    font-size: 1.2em;
    color: #fff;

}
.nav ul li:hover {
    background: #105689;
}
/* 二级菜单 */
.nav ul li:hover .sub-nav {
   display: block;
}
.sub-nav {
    display: none;
}
.nav ul li .sub-nav li {
    float: left;
    font-size: 0.8em;
    padding: 10px 0;
    text-align: center;
    width: 12.45%;
    height: 30px;
    line-height: 30px;
}
.nav ul li .sub-nav li a {
    float: left;
    font-size: 0.8em;
    padding: 10px 0;
    text-align: center;
    width: 12.45%;
}
.prev {
    position: absolute;
    width: 1020px;
    height: 400px;
    background: #fff;
    top: 0px;
    z-index: 100;
    opacity: 0.65;
    filter: alpha(opacity:65)!important;
}
/* 中间 */
.main {
	width: 100%;
	height: 857px;
	background: #EFF3F5;
}
/* 轮播图部分 */
#container {
    position: relative;
    padding: 0 164px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 2;
}
#list {
    position: relative;
    width: 7140px;
    height: 400px;
}

#list img {
    float: left;
    width: 1020px;
    height: 400px;
}
.arrow {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 180px;
    cursor: pointer;
}
#last {
    position: absolute;
    left: 164px;
}

#next {
    position: absolute;
    left: 1138px;
}
#list .prev {
    float: left;
    width: 164px;
    height: 400px;
    background-color: RGBA(0, 0, 0, .7);
    z-index: 100;
}
.left-link ul:hover,.content:hover {
    box-shadow: 0 0 8px rgba(0, 150, 255, 0.7);;
}
.left-link {
    position: relative;
}

.left-link ul {
    position: absolute;
    border-top: 3px solid #0096ff;
    left: 164px;
    top: 25px;
    float: left;
}
.left-link ul li {
    width: 146px;
    height: 31px;
    padding: 7px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    font-size: 14px;
    line-height: 31px;
    padding-left: 15px;
    background: #fff;
}
.left-link ul li a {
    color: #000;
}
.left-link ul li:hover {
    background: #0096ff;
    width: 148px;
    padding-left: 9px;
    border-left: 5px rgb(0,59,101) solid;
}
.article {
    position: relative;
}
.content {
    width: 425px;
    height: 413px;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-top: 3px solid #0096ff; 
}
.middle {
    float: left;
    position: absolute;
    left: 345px;
    top: 25px; 
}
h2 {
    width: 33.3%;
    height: 42px;
    margin: 0;
    float: left;
    text-align: center;
    background: #EFF3F5; 
    line-height: 42px;
}
.tab-head img {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    vertical-align: middle;
}
span {
    height: 42px;
    font-size: 16px;
    padding-left: 10px;
    font-weight: normal;
}
.tab-content {
    margin-top: 42px;
    width: 425px;
    height: 384px;
}

.tab-content div,.tab-contentc div {
    display: none;
}

.selected {
    background-color: #0096ff;
    color: #fff;
    cursor: pointer;
}

.tab-content .show,.tab-contentc .show { 
    display: block;
}
.tab-content ul {
     margin-top: 52px;
}
.tab-content li {
    margin: 10px 10px 0 10px;
    width: 387.5px;
    height: 80px;
}
.tab-content li img {
    width: 96.875px;
    height: 80px;
    float: left;
}
.tab-content li a {
    width: 280px;
    height: 40px;
    color: #0e90d2;
    font-size: 14px;
    font-family: 微软雅黑;
    position: relative;
    left: 20px;
}
.tab-content li a:hover {
    color: #30789C;
}
.right {
    float: right;
    position: absolute;
    right: 140px;
    top: 25px; 
}
.tab-contentc ul {
     margin-top: 52px;
}
.tab-contentc li{
    margin: 0 10px 10px 10px;
    padding-left: 10px;
    width: 388.5px;
    height: 50px;
    border-left: 4px solid #0093ff;
}
.tab-contentc li a {
    color: #0096ff;    
    font-size: 14px;
    font-family: 微软雅黑;
}
.tab-contentc li a:hover {
    color: #30789C;
}
.tab-contentc p {
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    color: #333;
}
h3 {
    width: 25%;
    height: 42px;
    margin: 0;
    float: left;
    text-align: center;
    background: #EFF3F5; 
    line-height: 42px;
}
/* 底部 */
.footer {
    clear: both;
	width: 100%;
	height: 75px;
	background: #434757;
    position: relative;
}
.footer-both {
    width: 1100px;
    height: 75px;
    margin: 0 auto;
}
.footer-left, .footer-right,.footer-right-pic {
    position: relative;
    display: inline-block;
}
.footer-left {
    width: 665px;
    height: 75px;
    margin-left: 35px;
}
.footer-right {
    width: 175px;
    height: 75px;
    bottom: 18px;
}
h6 {
    position: absolute;
    top: 18px;
    font-weight: normal;
}
h6 a {
    font-weight: normal;
    color: #bfc7d9;
}
h6 a:hover {
    color: #bfc7d9;
}
p {
    float: left;
    padding-left: 0;
    padding: 0px 3px;
    margin-bottom: 0em;
    font-size: 9pt;
    color: #bfc7d9;
}
.footer-right-pic {
    width: 190px;
    height: 50px;
    line-height: 50px;
    bottom: 18px;
}
.footer-right-pic img {
    height: 40px;
}
.top a img {
    position: fixed;
    width: 48px;
    border-radius: 50%;
    height: 48px;
    bottom: 80px;
    right: 10px;
    z-index: 1;
}
